@charset "utf-8";

/*タイトル部分*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1c315d;
    align-items: center;
    height:70px;
    padding: 5px;
}

.title{
    display:flex;
    align-items: center;
}

.logo{
    display:flex;
    align-items: center;
    width: 200px;
    margin-left: 10px;
}
body {
    text-align: center;
    background-image: url(image/image1.jpg);
    background-size: cover;
    font-family: 'Kosugi Maru', sans-serif;
}

h1{
    margin-left: 20px;
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 100;
}
h2{
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 50px;
}
.res_content{
    justify-content: space-around;
}

/*ログアウトボタン*/
.logout{
    background-color : #d9d7d7;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 150px;
    margin-right: 10px;
}
.logout:hover{
    color:black;
    background-color: #c83e36;
}
/*予約ボタン*/
.res_item{
    background-color: #9fca99;
    border-color: #9fca99;
    color: blue;
    margin-top: 50px;  
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    padding:5px;
}

.res_item:hover{
    color:black;
    background-color: #c83e36;
    border-color: #c83e36;
}



/*表*/
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: white;
    border-collapse: collapse;
}

th,td{
    border:solid 2px;
    padding:5px;
}

th{
    font-size: 25px;
}

td{
    font-size: 20px;
}

