@charset "utf-8";

/*ヘッダー部分*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #1c315d;
    align-items: center;
    height:70px;
    padding: 5px;
}
/*ロゴ*/
.logo{
    display:flex;
    align-items: center;
    width: 200px;
    margin-left: 10px;
}
/*ヘッダーのタイトル部分*/
.title{
    display:flex;
    align-items: center;
}

body {
    text-align: center;
    background-image: url(image/background.jpg);
    background-size: cover;
    font-family: 'Kosugi Maru', sans-serif;
}

h1{
    margin-left: 20px;
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 100;
}

h2{
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 50px;
}
/*ログアウトボタン*/
.logout{
    background-color : #d9d7d7;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 150px;
    margin-right: 10px;
}
/*ログアウト　マウスオーバー*/
.logout:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.8;
}
/*予約ボタン*/
.res_button{
    background-color: #9fca99;
    border-color: #9fca99;
    color: blue;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    padding:5px;
    margin: 60px 40px 80px;
}
/*予約ボタン　マウスオーバー*/
.res_button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;  
    opacity: 0.7;
}
/*表*/
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: white;
    border-collapse: collapse;
}
th,td{
    border:solid 2px;
    padding:5px;
}
th{
    font-size: 30px;
}
td{
    font-size: 25px;
}
/*取り消しバツ画像*/
.batu{
    width: 25px;
}
/*取り消しバツ画像*/
.batu:hover{
    transition-duration: 0.5s;
    transform: scale(1.5);
}